/*
  Estilo da pagina index.hatml
*/
#menu li{
  display: inline;
    padding: 40px;
}
#menu li a {
    text-decoration: none;
    color:black;
}
#menu li a:hover{
  color: grey
}

.sub {
  text-align:center; 
  font-size: 40px;

}
.center {
  text-align: justify;
}

.container {
  display: flex; 
  flex-flow: row ;
  justify-content: center;
  align-items: center;
}

.p-30{
  padding: 20px;
}

.br-50{
  border-radius: 30%;
}

.tm-social{
  width: 50px;
  height: 50px;
}
.vid{
  margin-bottom: 50px;
}


/*
Estilo da pagina contato.hatml
*/

.ml-50{
  margin-left: 50px;
}